@import "../../../constants/colors.css";

.Wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.logoWrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.logo {
  padding: 1rem 0;
}
.menu {
  max-height: 3rem;
  padding: 0.5rem;
}
