@import "../../../constants/colors.css";

.Wrapper {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
