.button {
  border-radius: 0.3em;
  border: 0.1em solid var(--button-color);
  margin-top: 2em;
  padding: 0.1em;
  width: 70vw;
  max-width: 370px;
  line-height: 1.5em;
  font-size: 2em;
  font-family: inherit;
  font-weight: 600;
  color: var(--secondary-text-color);
  background-color: var(--button-color);
  cursor: pointer;
}
