@import "../../../../constants/colors.css";

.plusIconWrapper {
  z-index: 100;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  display: flex;
  position: fixed;
  right: 1em;
  bottom: 1em;
  box-shadow: 0 0.2em 0.2em 0.1em rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.plusIconWrapperIcon {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  position: fixed;
  right: 1em;
  bottom: 1em;
}
