@import "./colors.css";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;600;700&display=swap');

a,
a:active,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

.App {
  text-align: center;
  font-size: 1.1em;
  font-family: 'Red Hat Display', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}
