:root {
  --primary-color: #82abff;
  --secondary-color: #ffffff;
  --primary-text-color: #1b1b1b;
  --primary-text-color-hover: #1459c8;
  --secondary-text-color: #ffffff;
  --button-color: #2c6bed;
  --button-color-hover: #1459c8;
}
