@import "../css/colors.css";
.logInPage {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}
.logInTitle {
  width: 70vw;
  max-width: 370px;
  font-size: 2em;
  font-weight: 700;
  line-height: 0.5em;

}
.logInTitle div {
  display: inline;
}
.logInInputField {
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  margin: 1em;
  padding: 0.1em 0 0.1em 0.3em;
  width: 70vw;
  max-width: 370px;
  line-height: 2.2em;
  font-size: 1em;
  font-family: inherit;
}
.logInInputField:focus, .loginForm  {
  border-color: var(--button-color-hover);
}

.logInForm input[type="submit"] {
  justify-content: center;
  border-radius: 10px;
  border: 0.1em solid var(--button-color);
  margin-top: 2em;
  padding: 0.1em;
  width: 70vw;
  max-width: 370px;
  line-height: 1.5em;
  font-size: 2em;
  font-family: inherit;
  font-weight: 600;
  color: var(--secondary-text-color);
  background-color: var(--button-color);
  cursor: pointer;
}
.logInForm input[type="submit"]:hover {
  background-color: var(--button-color-hover);
  border-color: var(--button-color-hover);
}
