@import "../../../../constants/colors.css";

.statsListElementWrapper {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}
.icon {
  text-align: left;
  max-height: 3em;
}
.statValue {
  text-align: right;
}
.statName {
  text-align: left;
}
